<h1>Instruments</h1>

<table>
  <tr>
    <th>Name:</th>
    <th>Classification:</th>
  </tr>
  <% @instruments.each do |instrument| %>
  <tr>
    <td><%= instrument.name %></td>
    <td><%= instrument.classification %></td>
  </tr>
  <% end %>
</table>